@font-face {
  font-family: 'pixelar';
  src: url('./fonts/pixelar_regular-webfont.woff2'), url('./fonts/pixelar_regular-webfont.woff');
}

@font-face {
  font-family: 'screen1';
  src: url('./fonts/MunroSmall.ttf');
}

body {
  font-family: screen1;
  font-size: 1.5em;
}

.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.identity-choice {
  border: 4px solid transparent;
  width: 180px;
  display: inline-block;
}
.identity-choice.current {
  background-color: #444444;
  border: 4px solid #61dafb;
}

/*
small {
  font-size: small;
}
*/



.file-directory {
  border: 4px solid #222222;
  /*padding: 5px 5px 40px 5px;*/
  font-family: 'pixelar', mono space, sans-serif;
  font-size: 1.5em;
  /*background-color: #282c34;*/
  background-color: #222222;
  color: #ffffbb;
  display: flex;
}

.file-directory .directories {
  flex: 40%;
}

.file-directory .files {
  flex: 60%;
  border-left: 1px solid #666;
}


.file-directory ul {
  list-style: none;
  padding-inline-start: 0;
}
.file-directory li {
  padding-left: 10px;
  padding-right: 10px;
  border: 4px solid transparent;
  cursor: pointer;
}

.file-directory li:hover,
.file-directory li.current:hover {
  /*background-color: #222222;*/
  /*color: #eeeeee;*/
  border: 4px solid #61fb61;
}

.file-directory li.current {
  background-color: #eeeeee;
  color: #222222;
  border: 4px solid #61dafb;
}

.file-directory li img {
  margin: 4px 10px 0 0;

  image-rendering: pixelated;
  -webkit-transition: transform 0.75s;
  transition: transform 0.75s;
}

.file-directory li:hover img {
  transform: scale(3);
}

h2, h3 {
  margin: 5px 0;
}


/*** Moon Cat designs and some page style elements come from https://mooncatrescue.com/ ***/

button,
input[type=file]{
  padding: 6px 20px;
  margin: 10px;
  font-size: 1.1em;
  font-family: screen1;
  border: none;
  color: #ffffff;
  background-color: #777777;
  box-shadow: 8px 8px 0px 0px #444444;
  cursor: pointer;
  outline: none;
}
input[type=file]{
  max-width: 250px;
  font-size: 0.8em;
}

button:hover{
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 5px 5px 0px 0px #444444;
}

button:active{
  position: relative;
  top: 6px;
  left: 6px;
  box-shadow: 2px 2px 0px 0px #444444;
}


button.ok{
  background-color: green;
}

button.cancel{
  background-color: red;
}

button.nav{
  background-color: blue;
}

button.select{
  background-color: orange;
}

.cat-thumb {

  order: 0;
  flex: 0 0 auto;
  align-self: auto;

  padding: 5px;
  margin: 5px;
  text-align: center;

}
.cat-thumb img {
  cursor: -webkit-grab;
  cursor: grab;

  image-rendering: pixelated;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
.cat-thumb img:hover{
  /*transform: scale(4);*/
  transform: scale(1.5);
}
